.servicesWrapper {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.serviceLeft {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.serviceRight {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.serviceImageLeft {
  width: 120%;
  filter: brightness(50%);
}

.serviceImageRight {
  width: 120%;
  filter: brightness(50%);
}

.serviceText {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fullTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 124px;
  color: white;
  font-family: "Sacramento", cursive;
}

.hyperlinkPedido {
  text-decoration: none;
  color: inherit;
}

.buttonDonut {
  margin-top: 40px;
  background-color: black;
  color: white;
  width: fit-content;
  font-size: 19px;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid white;
}

.hyperlinkPedido:visited {
  text-decoration: none;
}

.contentServiceShipping {
  padding-top: 40px;
  width: 70%;
  text-align: center;
  font-size: 24px;
  color: white;
}

.buttonDonut:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  border: 3px solid black;
}

.serviceImageLeftSmallScreen {
  display: none;
}

.serviceImageRightSmallScreen {
  display: none;
}

@media (min-width: 1024px) {
  .serviceImageLeft,
  .serviceImageRight {
    width: 120%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .fullTitle {
    font-size: 107px;
  }
  .contentServiceShipping {
    padding-top: 10px;
    width: 84%;
    font-size: 22px;
  }
  .serviceImageLeft {
    height: 89%;
    width: 160%;
  }
  .serviceImageRight {
    height: 89%;
    width: 150%;
  }
}

@media (max-width: 425px) {
  .servicesWrapper {
    width: 100%;
    height: 850px;
    flex-direction: column;
  }

  .serviceRight {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }
  .serviceLeft {
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
  }
  .contentServiceShipping {
    font-size: 19px;
    width: 87%;
    padding-top: 17px;
  }
  .fullTitle {
    font-size: 100px;
  }

  .serviceImageLeft {
    display: none;
  }
  .serviceImageRight {
    display: none;
  }
  .serviceImageLeftSmallScreen {
    width: 120%;
    transform: translateX(-125px);
    display: block;
    filter: brightness(50%);
  }

  .serviceImageRightSmallScreen {
    display: block;
    width: 120%;
    filter: brightness(50%);
  }
}

@media (max-width: 320px) {
  .serviceImageLeftSmallScreen {
    width: 150%;
    transform: translateX(85px);
  }
  .fullTitle {
    font-size: 84px;
  }
}
