.mapWrapper {
  margin: 120px 0;
  padding: 30px 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/house-of-donuts-ad052.appspot.com/o/istockphoto-1157621780-612x612.jpg?alt=media);
  background-repeat: no-repeat;
  background-size: 2000px auto;
}

.map {
  padding: 10px;
  border: 1px solid white;
  height: 400px;
  width: 50%;
}

.textTeEsperamos {
  width: 25%;
  font-size: 30px;
  padding: 10px;
  border: 1px solid white;
  background-color: #ffc759;
  color: white;
  text-align: center;
}

.haceClickAca {
  font-size: 12px;
}
