.navBarDiv {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  z-index: 1;
}

.imageNavBar {
  height: 75px;
  width: auto;
  object-fit: cover;
  padding: 0 15px;
}

.logo {
  height: 64px;
  width: auto;
  object-fit: cover;
  padding: 0 15px;
}

.buttonNavBar {
  text-decoration: none;
  color: black;
}

.buttonNavBar {
  margin: 0px 15px;
}

.buttonNavBar:hover {
  cursor: pointer;
}
