.wrapperCatalogue {
  padding: 0 0 60px;
  background-image: linear-gradient(#2c2d2f, #73767a);
  color: white;
  padding-bottom: 40px;
  border-top: 5px solid #ffa3ae;
}

.writtenSectionCatalogue {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleCatalogue {
  font-size: 120px;
  font-family: "Sacramento", cursive;
  color: #ffa3ae;
}

.textCatalogue {
  padding: 7px 25% 50px;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 19px;
}

.donutsDifferentCategoriesWrapper {
  padding: 30px 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LuxuryDonutsAllImages {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}

.donutLuxury {
  flex: 0 0 25%;
}

.donutImageCatalogue {
  width: 140px;
  height: 140px;
  flex-basis: 25%;
  transition: transform 0.5s ease;
}

.titleEachLineDonut {
  border: 1px solid black;
  border-radius: 18px;
  padding: 16px 60px;
  font-size: 34px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  background-size: 100% 100%;
  letter-spacing: 1.2px;
}

.colorfulDonutsAllImages {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.cakeAndPocketAllImages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.firstRowDonutLuxury {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.descriptionDonutLuxury1 {
  display: none;
}

.donutImageCatalogue:hover {
  opacity: 0.7;
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .textCatalogue {
    padding: 7px 16% 50px;
  }
  .donutsDifferentCategoriesWrapper {
    padding: 30px 10%;
  }
}

@media (max-width: 425px) {
  .textCatalogue {
    padding: 7px 16% 50px;
  }

  .donutImageCatalogue {
    height: 130px;
    width: auto;
  }
  .titleCatalogue {
    font-size: 74px;
  }
  .writtenSectionCatalogue {
    padding-top: 40px;
  }
  .titleEachLineDonut {
    padding: 11px 20px;
    font-size: 29px;
  }
}

@media (max-width: 400px) {
  .titleCatalogue {
    font-size: 65px;
  }
  .textCatalogue {
    padding: 7px 8% 41px;
  }
  .LuxuryDonutsAllImages {
    padding-top: 30px;
  }
}

@media (max-width: 320px) {
  .titleEachLineDonut {
    font-size: 28px;
    padding: 9px 14px;
  }
  .donutImageCatalogue {
    height: 104px;
  }
  .titleCatalogue {
    font-size: 54px;
  }
  .textCatalogue {
    font-size: 15px;
    letter-spacing: 3px;
  }
}
