.LuxuryLine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0 5%;
}

.donut1,
.donut3,
.donut6,
.donut8 {
  color: black;
  font-size: 22px;
  text-align: center;
}

.donut1 {
  order: 1;
  background-color: #f7c6b2;
}

.donut2 {
  order: 2;
}

.donut3 {
  order: 3;
  background-color: #db93b0;
}

.donut4 {
  order: 4;
}

.donut5 {
  order: 5;
}

.donut6 {
  order: 6;
  background-color: #c0effc;
}

.donut7 {
  order: 7;
}

.donut8 {
  order: 8;
  background-color: #bbe6e4;
}

.donut5:hover ~ .donut1 .textDescriptionDonut {
  transform: scale(1.1);
}

.donut2:hover ~ .donut6 .textDescriptionDonut {
  transform: scale(1.1);
}

.donut7:hover ~ .donut3 .textDescriptionDonut {
  transform: scale(1.1);
}

.donut4:hover ~ .donut8 .textDescriptionDonut {
  transform: scale(1.1);
}

.imageCatalogue2 {
  flex: 21%;
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.donut9 {
  order: 1;
}
.donut10 {
  order: 5;
}
.donut11 {
  order: 3;
}
.donut12 {
  order: 2;

  background-color: #c0effc;
}
.donut13 {
  order: 4;
  background-color: #ffc759;
}
.donut14 {
  order: 6;
  background-color: #db93b0;
}

.donut12,
.donut13,
.donut14 {
  color: #613f23;
  font-size: 23px;
  text-align: center;
}

.textDescriptionDonutColor {
  padding: 32% 15%;
  color: black;
  transition: transform 0.5s ease;
}
/*
.donut9,
.donut10,
.donut11,
.donut12,
.donut13,
.donut14 {
  border: 2px solid #613f23;
}
*/
.donut9:hover ~ .donut13 .textDescriptionDonutColor {
  transform: scale(1.1);
}
.donut10:hover ~ .donut12 .textDescriptionDonutColor {
  transform: scale(1.1);
}
.donut11:hover ~ .donut14 .textDescriptionDonutColor {
  transform: scale(1.1);
}
.titleLineas {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 44px;
  justify-content: center;
  color: black;
}

.crownEmoticon {
  padding-left: 8px;
}

.colorfulLine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
}

.imageColorfulCatalogue2 {
  flex: 26% 1;
  width: 150px;
  height: 300px;
  object-fit: cover;
}

.cakeYPocket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 5%;
}

.imagePocketCatalogue2 {
  flex: 40%;
  width: 300px;
  height: auto;
}

.pocket {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
}

.cake {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlecakeypoket {
  padding-bottom: 30px;
}

.cakeAndPocketTitle {
  display: flex;
  flex-direction: row;
}

.andTitle {
  font-family: "Courier New", Courier, monospace;
}

.donut16 {
  background-color: #f7c6b2;
}

.donut18 {
  background-color: #ffc759;
}

.donut15:hover ~ .donut16 .textDescriptionDonut {
  transform: scale(1.1);
}

.donut17:hover ~ .donut18 .textDescriptionDonut {
  transform: scale(1.1);
}

.textDescriptionDonut {
  padding: 20% 15%;
  color: black;
  transition: transform 0.5s ease;
  letter-spacing: 1.5px;
  font-size: 22px;
  text-align: center;
}
