
.firstPagePhoto {
  width: 100%;
  height: auto;
  padding-top: 100px;
  border-bottom: 5px solid #ffa3ae;
}

.firstPageLogo {
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 0;
  top: 42%;
  left: 34%;
}
