.brandDescriptionWrapper {
  width: 100%;
  overflow: hidden;
}

.firstPagePhoto {
  object-fit: cover;
  width: 100%;
  height: auto;
  padding-top: 100px;
  border-bottom: 5px solid #fae714;
}
.containerButtonAndLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.firstPageLogo {
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 0;
  top: 42%;
  left: 34%;
}

@media (max-width: 425px) {
  .firstPagePhoto {
    width: 167%;
  }

  .firstPageLogo {
    top: 39%;
    left: 36%;
  }
}
