.brandDescriptionWrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  position: relative;
}

.firstPagePhoto {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-bottom: 5px solid #fae714;
  opacity: 0.93;
}
.containerButtonAndLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.firstPageLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: auto;
  z-index: 0;
}

@media (max-width: 425px) {
  .firstPagePhoto {
    width: 167%;
  }
}
