.WrapperShopDecription {
  padding: 40px 5%;
}

.titleNuestroLocal {
  font-size: 52px;
  text-align: center;
  padding-bottom: 40px;
}

.imageShopDescription {
  width: 90%;
  height: auto;
  position: absolute;
  border: 2px solid #db93b0;
  z-index: -1;
}

.TextNuestroLocal {
  padding: 30px 50px;
  font-size: 20px;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 1.5;
  z-index: 1;
}
